<!DOCTYPE html>
<html>
  <head>
    <title>AlbumIndexVer3</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <nav class="navbar navbar-default">
  		<div class="container-fluid">
  			
  			<div class="navbar-header">

          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Albums", root_path, class: "navbar-brand" %>
      </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">    

  			<ul class="nav navbar-nav">
  				<li><%= link_to "Sign Up", new_user_registration_path %></li>

  				<% if user_signed_in? %>
  				 <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
  				 <% else %>
  				 	<li><%= link_to "Log In", new_user_session_path %></li>
  				<% end %>

  			</ul>

      <%= form_tag albums_path, class: "search_box", :method => 'get' do %>
          <p>
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag "Search", class: "btn btn-info", :name => nil %>
          </p>
        <% end %>  

  		<ul class="nav navbar-nav navbar-right">

  			<li class="dropdown">
  				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Genres<span class="caret"></span></a>
  				<ul class="dropdown-menu" role="menu">
  					<% Genre.all.each do |genre| %>
  					<li class="<%= 'active' if params[:genre] == genre.name %>">
  						<%= link_to genre.name, albums_path(genre: genre.name), class: "link" %>
  					</li>
  					<% end %>
  				</ul>
  			</li>	

  			<% if user_signed_in? %>
  				<li><%= link_to "Add Album", new_album_path %></li>
  			<% end %>
  			
  		</ul>	

  		</div> <!-- End navbar collapse -->   
    </div> <!-- End Container-Fluid -->  

  </nav>	


  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <div class="container">
    <%= yield %>
  </div>  
  </body>
</html>
