<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-6">	
		<%= image_tag @album.album_img.url(:album_show), class: "album-show" %>
	</div>
	
	<div class="col-xs-6 col-sm-6 col-md-6" id="album-show-info">	
		<h2 class="album-show-title"><%= @album.title %></h2>
		<h3 class="album-show-artist"><%= @album.artist %></h3>
		<h4 class="album-show-genre">Genre: <%= @album.genre.name %></h4>

		<div class="song-list">	
			<p><%= @album.song1 %></p>
			<p><%= @album.song2 %></p>
			<p><%= @album.song3 %></p>
			<p><%= @album.song4 %></p>
			<p><%= @album.song5 %></p>
			<p><%= @album.song6 %></p>
			<p><%= @album.song7 %></p>
			<p><%= @album.song8 %></p>
			<p><%= @album.song9 %></p>
			<p><%= @album.song10 %></p>
			<p><%= @album.song11 %></p>
			<p><%= @album.song12 %></p>
			<p><%= @album.song13 %></p>
			<p><%= @album.song14 %></p>
			<p><%= @album.song15 %></p>
			<p><%= @album.song16 %></p>
			<p><%= @album.song17 %></p>
			<p><%= @album.song18 %></p>
		</div>	
	</div>
</div> <!-- End Row here -->	

<div class="row">
	<div class="col-md-4">
		<!-- Extra information goes here -->
	</div>
	
</div>

<div class="col-xs-12 col-sm-6 col-md-6" id="edit_links">
	<%= link_to "Back", root_path %>

	<% if user_signed_in? %>

		<% if @album.user_id == current_user.id %>

			<%= link_to "Edit", edit_album_path(@album) %>
			<%= link_to "Delete", album_path(@album), method: :delete, data: { confirm: "Are you sure?" }  %>

		<% end %>
	<% end %>	
</div>

